
.row
{
    position: fixed;
    bottom: 0;
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 0;
    height: 10%;
    border-collapse:separate;
    border-spacing:2vw;
}


#shots{
    content: url("../resources/sprites/scoreImages/shot/shot5.png") url("../resources/sprites/scoreImages/shot/shot4.png") url("../resources/sprites/scoreImages/shot/shot3.png") url("../resources/sprites/scoreImages/shot/shot2.png") url("../resources/sprites/scoreImages/shot/shot1.png") url("../resources/sprites/scoreImages/shot/shot0.png");
    /* background-image: url("../resources/sprites/scoreImages/shot/shot0.png"); */
}

#hit{
    /* background-image: url("../resources/sprites/scoreImages/hit/hit.png"); */
}

.hitMenuOpt{
    float: left;
}

.duckImage{
    float: left;
    margin-top: 1vw;
    width: 6.3%;
    height: 20px;
    background-image: url("../resources/sprites/scoreImages/hit/duckwhite.png");
    background-size: 100% 100%;
}

.rowCell{
    display: table-cell;
    /* background-size: 100% 100%;
    background-repeat: no-repeat; */
    text-align: center;
    background-color: rgb(10, 10, 10);
    border-radius: 10px;
    border: 3px solid rgb(0, 221, 0);
    font-size:1.2vw;
}

/* #score{
    background-image: url("../resources/sprites/scoreImages/score.png");
    
} */

.scoreCell{
    width:30%;
}

.scoreCell h2{
    margin: 0;
    margin-top: 0.3vh;
    margin-bottom: 0.3vh;
}


.ammunitionCell{
    width:20%;
    /* content: url("../resources/sprites/scoreImages/shot/shot5.png") url("../resources/sprites/scoreImages/shot/shot4.png") url("../resources/sprites/scoreImages/shot/shot3.png") url("../resources/sprites/scoreImages/shot/shot2.png") url("../resources/sprites/scoreImages/shot/shot1.png") url("../resources/sprites/scoreImages/shot/shot0.png");
    background-image: url("../resources/sprites/scoreImages/shot/shot0.png");
    background-size: 100% 100%; */
}


.ammunitionCell h2{
    margin: 0;
    margin-top: 0.3vh;
    margin-bottom: 0.3vh;
}

#pointsCounter{
    text-align: right;
    left: 7%;
    bottom: 15%;
    background-image: url("../resources/sprites/scoreImages/round.png");
    background-size: 100% 100%;
    width: 15vw;
    height: 5vh;
    position: absolute;
    z-index: 3;
}


#levelCount{
    margin: 0;
    margin-right: 5%;
    margin-left: 50%;
    /* margin-bottom: 5%; */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}


#levelBox{
    display: none;
    z-index: 3;
    position: absolute;
    top: 15%;
    left: 45%;
    width: 15%;
    height: 15%;
    border-radius: 15px;
    background-color: black;
    border: 5px solid white;
    animation-name: flash;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    text-align: center;
}


/* @keyframes flash {
    0% {border-color: red}
    100% {border-color: white}
} */

@keyframes fadeIn{
    0% {display: none; opacity: 0;}
    1% {display: block;opacity: 0;}
    100% {display: block;opacity: 1;}
}
