.row
{
    position: fixed;
    bottom: 0;
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 0;
    height: 10%;
}

.rowCell{
    text-align: center;
    display: table-cell;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* height: 100%; */
}

#shots{
    background-image: url("../resources/sprites/scoreImages/shot/shot4.png");
}

#hit{
    background-image: url("../resources/sprites/scoreImages/hit/hit.png");
}

.hitMenuOpt{
    float: left;
}


/* #hitRow div{
    float: left;
    margin-top: 1vw;
    width: 6.3%;
    height: 20px;
    background-image: url("../resources/sprites/scoreImages/hit/duckwhite.png");
    background-size: 100% 100%;
} */

.duckImage{
    float: left;
    margin-top: 1vw;
    width: 6.3%;
    height: 20px;
    background-image: url("../resources/sprites/scoreImages/hit/duckwhite.png");
    background-size: 100% 100%;
}



#score{
    background-image: url("../resources/sprites/scoreImages/score.png");
}