
.row
{
    position: fixed;
    bottom: 0;
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 0;
    height: 12%;
}

.rowCell{
    text-align: center;
    display: table-cell;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#shots{
    content: url("../resources/sprites/scoreImages/shot/shot3.png") url("../resources/sprites/scoreImages/shot/shot2.png") url("../resources/sprites/scoreImages/shot/shot1.png") url("../resources/sprites/scoreImages/shot/shot0.png");
    background-image: url("../resources/sprites/scoreImages/shot/shot3.png");
}

#hit{
    background-image: url("../resources/sprites/scoreImages/hit/hit.png");
}

.hitMenuOpt{
    float: left;
}

.duckImage{
    float: left;
    margin-top: 1vw;
    width: 6.3%;
    height: 20px;
    background-image: url("../resources/sprites/scoreImages/hit/duckwhite.png");
    background-size: 100% 100%;
}

#score{
    background-image: url("../resources/sprites/scoreImages/score.png");
    text-align: center;
    padding-top: 0.8vw;
}

#pointsCounter{
    text-align: right;
    left: 7%;
    bottom: 15%;
    background-image: url("../resources/sprites/scoreImages/round.png");
    background-size: 100% 100%;
    width: 15vw;
    height: 5vh;
    position: absolute;
    z-index: 3;
}


#levelCount{
    margin: 0;
    margin-right: 5%;
    margin-left: 50%;
    margin-bottom: 5%;
}


#levelBox{
    display: none;
    z-index: 3;
    position: absolute;
    top: 15%;
    left: 45%;
    width: 15%;
    height: 15%;
    border-radius: 15px;
    background-color: black;
    border: 5px solid white;
    animation-name: flash;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    text-align: center;
}


@keyframes flash {
    0% {border-color: red}
    100% {border-color: white}
}

@keyframes fadeIn{
    0% {display: none; opacity: 0;}
    1% {display: block;opacity: 0;}
    100% {display: block;opacity: 1;}
}