/* END SCREEN */

#overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.781);
    z-index: 5;
    text-align: center;
    display: none;
}

.resultsBox{
    position: relative;
    top: 20%;
    box-shadow: 0px 0px 99px 93px  rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    width: 80%; 
    margin: auto;
    padding: 2vw;
    animation-name: fadeIn;
    animation-duration: 2s;
}

.resultsBox h3{
    font-size:2vw;
}

#playAgainButton{
    color: red;
}

#playAgainButton:hover{
    color: green;
}

th{
    color: rgb(255, 255, 255);
    text-align: center;
}

tr{
    color: rgb(255, 255, 255);
    text-align: left;

}

td{
    padding-left: 2vw;
    padding-top: 2vh;
    padding-right: 2vw;
    font-size:1.4vw;
}

table{
    width: 50%; margin: auto;
    padding: 2vw;
}


/* SHOOT BLOCKER */

#shootBlocker{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    display: block;
}

#shootBlocker:hover{
    cursor: not-allowed;
}
