.cursorChange:hover{
    cursor: pointer;
}

#startScreen{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-image: url("../resources/sprites/background/startBackground.jpg");
    background-size: 100% 100%;
    text-align: center;
}

#startScreenContent{
    position: absolute;
    top: 50%;
    left: 30%;
    text-align: left;
}


/* START BUTTON */

#startButton h2:hover{
    color: red;
}


/* LEVEL SELECT */

#levelSelectMenu{
    min-height: 50px;
}

.levelSelectItem{
    float: left;
    color: darkmagenta;
}

.levelSelectArrow{
    color: red;
    margin-left: 3vw;
    margin-right: 3vw;
    font-family: Courier New, Courier, monospace;
}


/* HIGH SCORES */
#highScores h2{
    color:rgb(0, 226, 0);
}


/* START SCREEN FOOTER */

#startScreenFooter{
    position: absolute;
    bottom: 0;
    left: 30%;
    color: gray;
}
