.cursorChange:hover{
    cursor: pointer;
    color: green;
}

#startScreen{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-image: url("../resources/sprites/background/startBackground.jpg");
    background-size: 100% 100%;
    text-align: center;
}

.startScreen__content{
    position: relative;
    /* height: 50%; */
    top: 45%;
    margin: auto;
}

#startButton{
    font-size: x-large;
    transition: 0.5s ease;
}

#startButton:hover{
    letter-spacing: 10px;
    color: rgb(0, 215, 253);
    cursor: pointer;
}


.startScreen__content__box{
    margin: auto;
    width: 75%;
    font-size: large;
    text-align: center;
}

.startScreen__table{
    width: 100%;
}



.arrow:hover{
    color: red;
    cursor: pointer;
}




#startScreenFooter{
    position: absolute;
    bottom: 0;
    left: 30%;
    color: gray;
}
