.body, html {
    
}

body{
    max-height: 100%;
    margin: 0;
}

.sky { 
    background-image: url("../resources/sprites/background/sky1.png");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.bushes{
    position: relative;
    height: 100%; 
    z-index: 1;
    /* overflow: hidden; */
    background-image: url("../resources/sprites/background/bushes.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.duck{
    left: 48%;
    bottom: 20%;
    background-image: url("../resources/sprites/duck/bok1.png");
    position: absolute;
    animation-name: example;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

#duck1{
    animation-name: duck1;
    background-size: 100%;
    width: 78px;
    height: 73px;
    background-image: url("../resources/sprites/duck/bok1.png");
    background-size: 100%;
}

#duck2{
    animation-name: duck2;
    background-image: url("../resources/sprites/duck/right.png");
    background-size: 100%;
}

.duck img{
    opacity: 0;
    background-size: 100%;
    width: 78px;
    height: 73px;
}


.row
{
    position: fixed;
    bottom: 0;
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 0;
    height: 10%;
}

.rowCell{
    text-align: center;
    display: table-cell;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
}

#shots{
    background-image: url("../resources/sprites/scoreImages/shot.png");
    /* background-size: 100%; */
}

#hit{
    background-image: url("../resources/sprites/scoreImages/hit.png");
    /* background-size: 100%; */
}

#score{
    background-image: url("../resources/sprites/scoreImages/score.png");
    /* background-size: 100%; */
}