body{
    max-height: 100%;
    margin: 0;
}

.sky { 
    background-image: url("../resources/sprites/background/sky1.png");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.bushes{
    position: relative;
    height: 100%; 
    /* z-index: 1; */
    background-image: url("../resources/sprites/background/bushes.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.duck{
    left: 48%;
    bottom: 20%;
    background-image: url("../resources/sprites/duck/bok1.png");
    position: absolute;
    animation-name: example;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    /* z-index: 1; */
}

/* .duck div{
    width: 78px;
    height: 73px;
    z-index: 1;
} */

#duck1{
    animation-name: duck1;
    width: 78px;
    height: 73px;
    background-image: url("../resources/sprites/duck/right1.png");
    background-size: 100%;
}

#duck2{
    animation-name: duck2;
    background-image: url("../resources/sprites/duck/right1.png");
    background-size: 100%;
    width: 78px;
    height: 73px;
}

